.grid-container {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 100px calc(100vh - 200px) 100px;
    grid-template-areas:
            ". navbar navbar ."
            ". page page ."
            ". . . .";
}
.navbar {
    grid-area: navbar;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    display: inline-block;
    padding: 10px 20px;
    color: white;
}
.navbar a {
    color: white;
    text-decoration-line: none;
}
.navbar .selected {
    text-decoration-line: underline;
}
.page {
    grid-area: page;
    align-self: center;
    justify-self: center;
}
